<div class="greyback top-ornament"></div>
<div class="greyback">
    <div class="avatar greyback">
        <div class="thumbnail greyback">
            <svg viewBox="0 0 103 103" version="1.1" xmlns="http://www.w3.org/2000/svg" class="dotted round">
                <circle cx="50%" cy="50%" r="50">

                </circle>
            </svg>
            <img src="assets/headshot.jpg" alt="avatar">
            
        </div>
    </div>
    <div class="rounded namebox">
        <span>{{name}}</span>
    </div>
    <div class="underpanel">
        <app-contact-details></app-contact-details>
    </div>
    <div class="h-divider">
        <div class="divider greyback"></div>
    </div>
    
</div>

