<div class="container cv-container">
<div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">

        <app-section title="Summary" [icon]="summaryIcon">
            A tech lover with curiousity for all things. Proven track record of building development teams and delivering projects. 
            Check out the side projects section for my beer brewing system and other interesting builds. <br>
        </app-section>

        <app-section title="Work Experience" [icon]="workExperienceIcon">
            <app-life-period dateText="10/2021 - Present" place="Qualio, Dublin" position="Engineering Manager">
                <ul>
                    <li>Managing a team of 3 developers</li>
                </ul>
            </app-life-period>
            <app-life-period dateText="04/2021 - 10/2021" place="Qualio, Dublin" position="Senior Full Stack Developer">
                <ul>
                    <li>Working on a mid stage SAAS startup in the area of life sciences</li>
                    <li>Tech being used: Python, Javascipt, AngularJS, AWS</li>
                </ul>
            </app-life-period>
            <app-life-period dateText="01/2017 - 04/2021" place="Bank Of America, Dublin" position="Development Lead/Manager">
                <ul>
                    <li>Built out a new team in Dublin</li>
                    <li>Responsible for setting technical direction and best practices, while being a 'hands on' developer</li>
                    <li>Managed team of 6 developers, including one in the UK</li>
                    <li>Working directly with our clients in treasury to build solutions to improve the banks management of its  assets</li>
                    <li>Built a system to fund the thousands of external bank accounts held by the investment bank. 
                        These were based on projections of cash needs formed from a realtime stream of messages from trading systems (millions+/hr)
                        This system moved USD17t (trillion) in 2019</li>
                    <li>Successfully completed, deployed and supported many projects, including ones in the areas of internal loan pricing, loan requesting, regulatory submissions, trade entry and more</li>
                    <li>Developed the first machine learning algorithm used in the bank's treasury department</li>
                    <li>Tech used: Angular, Python, Java, SQL (MS and Oracle), Kafka and more</li>
                </ul>
            </app-life-period>
            <app-life-period dateText="06/2015 - 01/2017" place="Bank Of America Merril Lynch, Dublin" position="Python/Full Stack Developer">
                <ul>
                    <li>Building out a wide variety of solutions for the Treasury Front Office, working directly with key 
                        stakeholders in the US, Europe and the Far East</li>
                    <li>Working on a full stack basis, with Angular, Python with Oracle & NOSQL DBs</li>
                    <li>Working on a team split between Dublin and the US</li>
                </ul>
            </app-life-period>
            <app-life-period dateText="11/2009 - 06/2015" place="Bank Of America Merril Lynch, Dublin" position="GLOSS Support and Development">
                <ul>
                    <li>Wide ranging role involving SQL performance tuning, Python development and 'lights on' support</li>
                </ul>
            </app-life-period>
        </app-section>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <app-section title="Skills" [icon]="skillsIcon">
            <strong>Major Tech Skills</strong>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Angular/Typescript/Javascript</li>
                <li>Tensorflow & Keras</li>
                <li>Apache Kafka</li>
                <li>SQL (Oracle/MySQL/MS SQL Server/PostgreSQL)</li>
                <li>AWS (certified)</li>
            </ul><br>
            <strong>Other Tech Skills</strong>
            <div>
                <span>
                    <i>Python-related:</i> Injector, Flask, Jinja, Pytest, Requests, Pip, Pyramid, SQLalchemy, Cornice, Colandar<br> 
                    <i>Web:</i> HTML 5, CSS, SCSS, REST,  jQuery, Selenium, DevExtreme, Bootstrap, Material, Swagger<br> 
                    <i>Java-related:</i> Spring, Hibernate, Tomcat, JPA, Hikari, Hazelcast, H2, Avro<br>
                    <i>Machine Learning:</i> Pandas, Jupyter, numPy, scikit-learn <br> 
                    <i>Tooling:</i> GIT, Jenkins, Serverless, Unix scripting, Perl, Splunk, ITRS geneos, AppDynamics, Datadog<br> 
                    <i>Other:</i> VB.NET
                </span>
            </div> <br>
            <strong>Soft Skills</strong>
            <ul>
                <li>Mentoring graduate and intern developers</li>
                <li>Hiring for technical roles</li>
                <li>Agile methodologies</li>
                <li>Working with remote teams and team members</li>
                <li>Managing relationships with key stakeholders</li>
            </ul>
        </app-section>
        <app-section title="Education" [icon]="educationIcon">
            <app-life-period dateText="01/2021" 
                place="Amazon Web Services" 
                position="AWS Certified Practitioner">
                <div class="row">
                    <img src="assets/AWScert.png" alt="AWS Certified Cloud Practitioner">
                    <div class="col"> <br>
                        Issued by <a href="https://www.youracclaim.com/badges/ff2392c2-90d1-4e0e-8a11-4d605791765c/public_url">Amazon Web Services Training and Certification</a>
                    </div>
                </div>

            </app-life-period>
            <app-life-period dateText="09/2008 - 09/2009" 
                place="UCD Smurfit Business School, Dublin" 
                position="Msc. Business Analytics">
                <ul>
                    <li>Including courses on Maths, Statistics, Computer Science and Machine Learning</li>
                    <li>Graduated with a GPA of 3.63</li>
                    <li>Completed a dissertation on using machine learning techniques to predict commuter traffic patterns in Ireland, receiving an 'A' grade</li>
                </ul>

            </app-life-period>
            <app-life-period dateText="09/2002 - 06/2006" 
                place="UCD, Dublin" 
                position="Bsc. Electronic Engineering">
                <ul>
                    <li>Included courses in Maths and C programming</li>
                    <li>Graduated with a 2:2 degree</li>
                </ul>
            </app-life-period>
        </app-section>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <app-section title="Side Projects" [icon]="sideProjectIcon">
            See <a href="http://github.com/paulharte">my GitHub</a> for:
            <ul>
                <li><a href="https://github.com/paulharte/autobrew">Autobrew</a>: beer brewing system written in Python on Raspberry Pi</li>
                <li><a href="https://github.com/paulharte/football_team_picker">Football Team Picker</a>: using Machine Learning through Tensorflow to pick the perfect 5 a side teams</li>
                <li><a href="https://github.com/paulharte/angular-cv">This CV</a>: made using Angular and Bootstrap</li>
            </ul>
        </app-section>
        <app-section title="Interesting Facts" [icon]="interestingIcon">
            <ul>
                <li>Formerly held a world ranking in Snowboard slopestyle</li>
                <li>Also enjoys surfing, wakeboarding, soccer and brewing beer</li>
                <li>Open source contributor</li>
            </ul>
        </app-section>

    </div>
</div>
</div>